body#body {
    background: black;
    color: white;
    /*font-family: 'Courier New', Courier, monospace;*/
}

.manu_opciones {
    margin-left: 0%;
}

img.img_atras {
    width: 3%;
	float: right;
} 
img.f22 {
    width: 15%;
	/*float: right;*/
} 
img.img_form {
    width: 7%;
	/*float: right;*/
} 

.modul td{
    padding-top: 10px; 
    padding-bottom:10px;
}

table#modul tr td.horas_modul {
    text-align: center;
    font-weight: 700;
}
table#modul tr.m01 td , table#horario tr td.m01{
    background-color: gray;
}
table#modul tr.m02 td , table#horario tr td.m02{
    background-color: green;
}
table#modul tr.m03 td , table#horario tr td.m03{
    background-color: red;
}
table#modul tr.m04 td , table#horario tr td.m04{
    background-color: darkkhaki;
}
table#modul tr.m05 td , table#horario tr td.m05{
    background-color: orange;
}
table#modul tr.m08 td , table#horario tr td.m08{
    background-color: salmon;
}
table#modul tr.m10 td , table#horario tr td.m10{
    background-color: darkcyan;
}
table#modul tr.m11 td , table#horario tr td.m11{
    background-color: purple;
}
table#modul tr.m14 td , table#horario tr td.m14{
    background-color: blue;
}

table#horario tr.modul {
    text-align: center;
}
table#horario tr td#patio {
    text-align: center;
    background-color: black;
    font-weight: 700;
}
table#horario tr td#tuto {
    background-color: darkseagreen;
}

form fieldset legend.form {
    font-weight: 700;
    font-size: larger;
}

fieldset {
    padding: 1%;
    margin: 1%;
}